/* Спецификация */


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
}

.text-yellow {
	color: #FFF026; 
}

/* header */

header {
	background-color: #0455B0;
	min-height: 100px;
	border-bottom: 2px solid #BEBEBE;
}

header .logo {
	font-size: 36px;
	text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
	min-height: 100px;
	line-height: 100px;
}

header a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	transition: .3s ease;
	display: inline-block;
}

nav {
	display: inline-block;
}

header a:hover {
	color: #FC7734;
	text-decoration: none;
	transition: .5s ease;
}

.main-nav {
	margin-top: 35px;
}

.main-nav a:not(:last-child) {
	margin-right: 80px;
}

.main-btn {
	width: 180px;
	height: 41px;
	text-transform: uppercase;
	background: #FC853A;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	display: inline-block;
	font-weight: 600;
    color: #fff;
}

.main-btn a {
	font-size: 22px;
	line-height: 41px;
	font-weight: 600;
    color: #fff;
}

.main-btn:hover {
	-webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
			box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
	transition: .3s ease;
}

.main-btn a:hover {
	color: #fff;
	text-decoration: none;
	transition: .5s ease;
}

/* screen 1 */
.main {
	min-height: 879px;
	background-color: #0455B0;
}

.jbl {
	margin-top: 160px;
}

.jbl img {
	width: 540px;
	height: auto;
}

.main p {
	font-weight: bold;
	font-size: 44px;
}

.present img {
	width: 250px;
	height: 220px;
}

.present span {
	font-weight: bold;
	font-size: 44px;
}

.main-title {
	margin-top: 70px;
}

.main-title h1 {
	font-weight: 700;
	font-size: 64px;
	text-transform: uppercase;
	margin-top: 10px;
}

.timer_block {
	width: 120px;
	height: 100px;
	background: #063B7C;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-weight: bold;
	margin-right: 3%;
}

.timer_block .timer_block-text {
	font-size: 12px;
}

.timer {
	height: 100px;
	margin: 50px 0;
}

.timer p {
	margin-bottom: 0;
}

.main-p p {
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.price {
	margin: 80px 0 70px;
}

.newprice {
	background: #063B7C;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	width: 300px;
	height: 40px;
	display: inline-block;
	margin-left: 10%;
}

.newprice p {
	font-size: 22px;
	line-height: 40px;
}

.property {
	width: 570px;
}

.property_img {
	width: 80px;
	height: 80px;
	background: #FFFFFF;
	border-radius: 5px;
	margin:0 auto 20px;
	text-align: center;
	line-height: 80px;
}

.property p {
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;
	text-transform: uppercase;
}
/* screen 2 */
.about-us {
	min-height: 652px;
	background: url("../img/aboutUs.png") no-repeat top center;
	background-color: #F6F6F6;
}

.about-us h1 {
	font-weight: 700;
	font-size: 96px;
	margin-top: 114px;
	line-height: 117px;
	text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);
}

.about-us h4 {
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	margin-top: 15px;
	text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.3);
}
/* screen 3 */
.services {
	min-height: 1030px;
	background-color: #F6F6F6;
}

.serv {
	margin-top: 114px;
}

.serv p {
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	color: #2D2D2D;
	margin-top: 50px;
/*	width: 293px;*/
}
/* screen 4 */
.action {
	min-height: 980px;
	background-color: #0455B0;	
}

.action h3 {
	margin-top: 110px;
}

.conditions {
	margin-top: 50px;
	font-size: 16px;
	line-height: 18px;
}

.conditions ol {
	padding-inline-start: 0;
}

.conditions ol li {
	display: list-item;
	list-style-position: inside;
}

.present h5 {
	margin-top: 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #FFF026;
}

.present p {
	font-size: 16px;
	line-height: 18px;
}
/* screen 5 */
.contact {
	min-height: 980px;
}

.contact h3 {
	margin-top: 90px;
	color: #2D2D2D;
}

.contact .map {
	margin: 40px 0 80px;
	position: relative;
}

.mail, .phone, .address {
	margin: 40px 0 20px;
	color: #2D2D2D;
	font-size: 18px;
	line-height: 26px;
	text-transform: capitalize;
}

.time {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	align-items: center;
	text-transform: capitalize;
	color: #2D2D2D;
	background: #FCFCFC;
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	width: 176.58px;
	height: 250px;
	left: 95%;
    top: 55%;
}

.time p {
	margin-top: 25px;
	margin-left: 20px;
}

.time ul {
	margin-left: 20px;
}
/* screen 6 */
.feedback {
	min-height: 820px;
}

.feedback h3 {
	margin-top: 90px;
	font-weight: 700;
	font-size: 40px;
	color: #FC853A;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main-form {
	margin-top: 140px;
	position: relative;
}

.main-form input, .main-form textarea {
	border: 1px solid rgba(19, 26, 61, 0.5);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	padding: 12px 17px;
	width: 70%;
	margin-bottom: 23px;
	outline: none;
	color: rgba(19, 26, 61, 1);
}
.main-form input:focus, .main-form textarea:focus {
	border: 1px solid #6F8DD9;
	transition: .3s ease;
}

.form-btn {
	width: 220px;
	height: 50px;
	text-transform: uppercase;
	background: #FC853A;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	font-size: 22px;
	line-height: 50px;
	letter-spacing: 0.1em;
	color: #fff;
	font-weight: 600;
	display: block;
	margin-left: 15%;
	margin-bottom: 20px;
}

.form-btn:hover {
	-webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
			box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
	transition: .3s ease;
}

button, 
button:active, 
button:focus {
    -moz-outline-style:none;
    outline: none;
    border: 0;
}

.feedback img {
	position: absolute;
	left: 75%;
	top: 5%;
}

.feedback p {
	color: #2D2D2D;
	font-size: 12px;
}

/* footer 6 */
footer {
	min-height: 160px;
	background-color: #0455B0;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	padding-top: 76px;
}

footer ul li {
	display: inline-block;
	text-decoration: none;
	margin: 0 35px 0;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
}
	
footer ul li a:hover {
	color: #fff;
	text-decoration: none;
}

footer p {
	font-size: 16px;
	text-align: right;
}

div.scrollup {
  position: fixed;
  color: #fff;
  background-color: #FC853A;
  right: 20px;
  bottom: 0px;
  padding: 4px 10px;
  font-size: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}
div.scrollup:hover {
  background-color: #000;
}

/* Медиа-запросы */

@media screen and (max-width: 1198px) {
	h3 {
		font-size: 2em;
	}
	.main {
	    min-height: 100%;
	}
	.jbl img {
		width: 80%;
	}
	.main-title h1 {
	    font-size: 4em;
	}
	.main-p p {
		font-size: 1em;
		line-height: 1em;
		margin-bottom: 1%;
	}
	.price {
	    margin: 10% 0 5%;
	}
	.present img {
		width: 40%;
		height: auto;
	}
	.property {
		width: 95%;
	}
	.property_img {
		height: 70%;
		line-height: 70%;
	}
	.property_img img {
		width: 55%;
		margin: 10% 0;
	}
	.property p{
		font-size: 1em;
	}
	.about-us {
	    min-height: 554px;
	}
	.about-us h1 {
		font-size: 4em;
	}
	.about-us h4 {
		font-size: 2em;
	}
	.services {
	    min-height: 100%;
	}
	.serv {
		margin-top: 5%;
	}
	.serv p {
		font-size: 1em;
		line-height: 1em;
	}
	.serv img {
		width: 25%;
	}
	.action {
	    min-height: 100%;
	}
	.action h3 {
	    margin-top: 5%;
	    font-size: 2em;
	}
	.conditions {
	    margin-top: 2%;
	    font-size: 0.7em;
	    line-height: 1em;
	}
	.present h5 {
		font-size: 1em;
	}
	.present p {
		font-size: 0.7em;
	    line-height: 1em;
	}
	.contact {
		min-height: 100%;
	}
	.contact h3 {
	    margin-top: 5%;
	    font-size: 2.5em;
	}
	.feedback {
	    min-height: 100%;
	}
	.feedback h3 {
	    margin-top: 3%;
	    font-size: 2.5em;
	}
	.feedback img {
		width: 20%;
		height: auto;
	}
}
@media screen and (max-width: 991px) {
	h1, h3 {
		text-align: center;
	}
	header .logo {
		font-size: 2em;
		line-height: 2em;
		min-height: auto;
	}
	.main-nav {
	    margin-top: 1%;
	}
	nav {
		margin-bottom: 2%;
		font-size: 1em;
	}
	.jbl {
	    margin-top: 5%;
	}
	.jbl img {
	    width: 40%;
	}
	.present-p {
		display: none;
	}
	.present img {
	    width: 15%;
	    height: auto;
	}
	.main-title {
	    margin-top: 1%;
	}
	.timer {
		margin-left: 20%;
		margin-top: 30px;
	}
	.main-p p {
	    margin-left: 20%;
	}
	.price {
	    margin: 3% 0 3% 20%;
	}
	.property {
	    width: 50%;
	    margin-left: 25%;
	}
	.about-us {
	    min-height: 220px;
	}
	.about-us h1 {
	    margin-top: 5%;
	    line-height: 1em;
	    font-size: 3em;
	}
	.about-us h4 {
	    font-size: 1em;
	    line-height: 1.5em;
	}
	.time {
		display: none;
	}
	.mail, .phone, .address {
    	margin: 1% 0;
    	font-size: 0.8em;
    }
    .mail h5, .phone h5, .address h5 {
    	font-size: 1em;
    }
}
@media screen and (max-width: 720px) {
	.timer {
		margin-left: 15%;
	}
	.main-p p {
	    margin-left: 15%;
	}
	.price {
	    margin: 3% 0 3% 15%;
	}
	.property {
	    width: 76%;
	    margin-left: 15%;
	}
	.contact h3 {
	    font-size: 1.5em;
	}
	.feedback h3 {
	    font-size: 1.5em;
	}
	.main-form {
	    margin-top: 5%;
	}
	.feedback img {
		top: -2%;
	}
	.form-btn {
		margin-left: 30%
	}
}